[Desktop Entry]
Type=Application
Name=Torrc Utility
Comment=GUI for managing some options in Tor's configuration file
Exec=torrc_utility
Icon=torrc_util
Categories=Network;
